@page
@model FamilyWall.Pages.ConfigureModel
@{
}

<div class="m-25">
    <form method="post">
        <h3>Configuration</h3>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Display</h4>
                <div class="mb-3">
                    <label asp-for="Background" class="form-label"></label>
                    <select asp-for="Background" class="form-control" asp-items="@Model.Backgrounds"></select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">To Do Icons</h4>
                <div class="mb-3">
                    <label asp-for="IconName" class="form-label"></label>
                    <input asp-for="IconName" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Icon" class="form-label"></label>
                    <input asp-for="Icon" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Keywords" class="form-label"></label>
                    <input asp-for="Keywords" class="form-control" />
                </div>
                @for (var index = 0; index < Model.TaskIconMappings.Count; index++)
                {
                    var item = Model.TaskIconMappings[index];
                    <div>
                        @item.Name - @string.Join(", ", item.Keywords)
                    </div>
                }
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>