@page
@model FamilyWall.Pages.IndexModel
@{
}

@section Head
{
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.css' rel='stylesheet' />
    <link href="~/css/index.css" rel="stylesheet"/>
    <style>
        .icon {
            padding-right: 10px !important;
            align-items: stretch !important;
        }

        .parallax-slider {
            transition: opacity 0.4s ease-in;
            -webkit-transition: opacity 0.4s ease-in;
            -moz-transition: opacity 0.4s ease-in;
            -ms-transition: opacity 0.4s ease-in;
            -o-transition: opacity 0.4s ease-in;
            opacity: 1;
        }

        .transitioning-src {
            transition: opacity 0.4s ease-out;
            -webkit-transition: opacity 0.4s ease-out;
            -moz-transition: opacity 0.4s ease-out;
            -ms-transition: opacity 0.4s ease-out;
            -o-transition: opacity 0.4s ease-out;
            opacity: 0;
        }
    </style>
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.19/index.global.min.js" integrity="sha512-oVdWXnAvkKCjV7eICa4Hbmdrtg2z8hvsQ6lC1/GRQck7hexUrp7fCJZVU/unJviMXCJdpT1rzUpxVKVKP8IcCA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/helpers.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/weather.js"></script>
    <script src="~/js/randomImage.js"></script>
    <script src="~/js/todo.js"></script>
    <script src="~/js/index.js"></script>
    
}


<button type="button" class="btn btn-primary" style="display: none" data-bs-toggle="modal" data-bs-target="#eventMaintModal">
    New Event
</button>
<div class="row row-style mt-25">
    <div class="col-lg-12">
        <div class="card-style calendar-card m-30">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<div class="row row-style">
    <div class="col-6">
        <div class="card-style card">
            <div class="card-body">
                <img id="radar-loop" />
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="row" id="forecastContainer">
            <div class="col-6" id="currentObservation">
                <div class="card-style card">
                    <div class="row g-0">
                        <div class="col-2" style="text-align: center; padding-left: 7px;">
                            <img id="currentIcon" alt="Current Conditions" src="#" style="max-width: 48px; max-height: 48px;" class="rounded mt-25" />
                        </div>
                        <div class="col-10 mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Current Conditions</h5>
                                <div class="card-text">
                                    <h3 class="text-bold mb-10">
                                        <span id="currentTemp">-- °F</span>
                                    </h3>

                                    <div id="feelsLike"></div>

                                    <div class="text-gray" id="windInfo"></div>
                                </div>
                                <div>Humidity: <span id="humidity">--</span></div>
                                <div>Dew Point: <span id="dewPoint">--</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        
            

        </div>
    </div>
</div>


<div class="row row-style">
    <div class="col-6">
        <div class="card-style card">
            <div class="card-body">
                <img id="randomImage" class="parallax-slider rounded" style="max-width: -webkit-fill-available; max-height: -webkit-fill-available;" />
            </div>
        </div>
    </div>
    <div class="col-6">
    <div class="card-style">
    <div class="title d-flex flex-wrap justify-content-between align-items-center">
        <div class="w-100">
            <div style="float: right;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#todoMaintModal">
                            <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <h4 class="text-medium">To Do List</h4>
        </div>
        <div class="right" style="display: none;">
            <div class="select-style-1">
                <div class="select-position select-sm">
                    <select class="light-bg">
                        <option value="">Grocery</option>
                    </select>
                </div>
            </div>
            <!-- end select -->
        </div>
    </div>
    <!-- End Title -->
    <div class="table-responsive">
        <table class="table top-selling-table">
            <thead>
            <tr>
                <th></th>
                <th>
                    <h6 class="text-sm text-medium">Products</h6>
                </th>
                <th class="min-width">
                    <h6 class="text-sm text-medium">Category</h6>
                </th>
                <th class="min-width">
                    <h6 class="text-sm text-medium">Due Date</h6>
                </th>
                <th class="min-width">
                    <h6 class="text-sm text-medium">Date Added</h6>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody id="todolist">
            
            </tbody>
        </table>
        <!-- End Table -->
    </div>
    </div>
    </div>
</div>


<div id="eventModal" class="modal" tabindex="-1">
    <form asp-page-handler="CalendarUpdate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="eventTitle" class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="eventDetails">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <a asp-page="/Index" asp-page-handler="CalendarDelete" id="calDel" class="btn btn-danger">
                        <i class="fa-solid fa-calendar-xmark"></i> Delete
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="eventMaintModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <form asp-page-handler="CalendarAdd">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label asp-for="StartDate" class="form-label"></label>
                    <input asp-for="StartDate" class="form-control" type="datetime-local" />
                </div>
                <div class="mb-3">
                        <label asp-for="EndDate" class="form-label"></label>
                        <input asp-for="EndDate" class="form-control" type="datetime-local" />
                </div>
                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" type="text" />
                </div>
                <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control" type="text" />
                </div>
                <div class="mb-3">
                        <label asp-for="Location" class="form-label"></label>
                    <input asp-for="Location" class="form-control" type="text"/>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                            <input asp-for="AllDay" class="form-check-input" type="checkbox" />
                        <label asp-for="AllDay" class="form-label"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </form>
    </div>
</div>

<div id="todoMaintModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <form asp-page-handler="ToDoAdd">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add/Edit Todo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="ToDoTitle" class="form-label"></label>
                        <input asp-for="ToDoTitle" class="form-control" type="text" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="DueDate" class="form-label"></label>
                        <input asp-for="DueDate" class="form-control" type="date" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Category" class="form-label"></label>
                        <input asp-for="Category" class="form-control" type="text" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>