

.row-style {
    margin: 10px;
}

.card-style {
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0,0,0,0.4);
}

.fc-daygrid-day-number {
    border: solid;
    border-radius: 100px 100px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    text-decoration: none;
    color: black;
    border-color: black;
}